<template name="NewSupplier">
  <h1>Insert Supplier</h1>
  {{> quickForm collection="Suppliers" id="insertSupplierForm" type="insert"}}
  <h1>Suppliers</h1>
</template>

<template name="supplier">
  <li><h4>{{name}} - {{email}} - {{phone}}</h4></li>

</template>


<template name="SuppliersIndex">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 left-pane-bg">
        <ul>
          {{#each Suppliers}}
            {{>supplier}}
          {{/each}}
        </ul>
      </div>
      <div class="col-xs-6 col-md-4 right-pane-bg">
        <h1>Insert Supplier</h1>
        {{> quickForm collection="Suppliers" id="insertSupplierForm" type="insert"}}</div>
    </div>
  </div>

</template>
