<template name="ItemCategoriesIndex">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 left-pane-bg">
        {{> tabular table=TabularTables.ItemCategories class="table table-hover table-bordered table-condensed"}}
      </div>

      <div class="col-xs-6 col-md-4 right-pane-bg">
        <h6>Add new Item Category</h6>
        {{> quickForm collection="ItemCategories" id="insertItemCategoryForm" type="insert"}}</div>
    </div>
  </div>

</template>

<template name="list_itemcategory">
  <li>
    <p>{{name}} <button class="btn btn-xs btn-danger delete">&times;</button></p>
  </li>

</template>
