<template name="UoMIndex">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 left-pane-bg">
        {{> tabular table=TabularTables.UnitofMeasurement class="table table-hover table-bordered table-condensed"}}
      </div>
      <div class="col-xs-6 col-md-4 right-pane-bg">
        <h6>Add new UoM</h6>
        <h6><i>Ex: ถุง - 50 kg</i></h6>
        {{> quickForm collection="UoM" id="insertUoMForm" type="insert"}}</div>
    </div>
  </div>

</template>

<template name="UoM_deleteButton">
  <i class="fa fa-trash delete fa-lg fa-fw text-danger"></i>
</template>
