<template name="UoMIndex">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 left-pane-bg">
        <ul>
          {{#each uoms}}
            {{> list_uom}}
          {{/each}}
        </ul>
      </div>
      <div class="col-xs-6 col-md-4 right-pane-bg">
        <h6>Add new UoM</h6>
        <h6><i>Ex: ถุง - 50 kg</i></h6>
        {{> quickForm collection="UoM" id="insertUoMForm" type="insert"}}</div>
    </div>
  </div>

</template>

<template name="list_uom">
  <li><p>{{name}} - {{unit}} {{unitname}}</p></li>

</template>
